.footer {
  background-color: #0c0200;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 10px;
  text-align: center;
  min-height: 100px;
  font-size: 1.4rem;
  flex-direction: column;
}
