.popup-button {
margin: 100px;
background: #6c63ff;
padding: 500px 500px;
color: white;
border: none;
border-radius: 10px;
cursor: pointer;
}

.modal {
background: white;
padding: 30px;
border-radius: 12px;
max-width: 90vw;
max-height: 90vh;
width: 600px;
height: 600px;
margin: auto;
font-size: 20px;
box-shadow: 0 10px 25px rgba(0,0,0,0.3);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
overflow-y: auto;
}

.modal .header {
font-size: 50px;
font-weight: bold;
margin-bottom: 50px;
}

.modal .content {
margin-bottom: 50px;
}

.modal .actions {
text-align: right;
}

.modal .close {
background: none;
border: none;
font-size: 50px;
float: right;
cursor: pointer;

}