.ticker-slider {
  width: 250px;
  height: 350px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  margin-bottom: 0;
}

.ticker-image {
  height: 150px;
  object-fit: contain;
  display: block;
  margin-bottom: 0;
}
